= render "/layouts/header"
.content
  .container-fluid
    .page-header
      %h1 
        Qué hacemos? 
    .row-fluid
      .thumbnails
        .span4.thumbnail
          .caption
            %h1.info
              =image_tag("technologies.png")
            %hr
            %p Modernización y mantenimiento de webs, implementación de SAaS en Ruby on Rails y PHP en Symfony.
        .span4.thumbnail
          .caption
            %h1.info
              =image_tag("platforms.png")
            %hr
            %p Desarrollo y publicación de aplicaciones nativas y adaptación de webs para iOS, Android y Windows Phone.
        .span4.thumbnail
          .caption
            %h1.info
              =image_tag("snetworks.png")
            %hr
            %p Porque hoy no sólo basta con una web. Diseño, asesorías y planificación de campañas en redes sociales.
    .page-header
      %h1 
        %small showcase
    .row-fluid
      .span3.brand
        %h6
          = image_tag("colapso.png")
      .span3.brand
        %h6
          = image_tag("squape.png")
      .span3.brand
        %h6
          = image_tag("menare.png")
      .span3.brand
        %h6
          = image_tag("cabargas.png")
= render "/layouts/footer"