= render "/layouts/header"
.content
  .container-fluid
    .page-header
      %h1 
        ¡Ellos ya trabajan con nosotros!
        %small Que esperas?
    .row-fluid
      .span4.hero-unit.brand
        %h5
          = image_tag("squape.png")
        %hr
        %h5 Una nueva forma de entender el arriendo de temporada.
        %hr
        %h6 
          Ver proyecto: 
          = link_to("squape.com", "https://www.squape.com")
      .span4.hero-unit.brand
        %h5
          = image_tag("menare.png")
        %hr
        %h5 Sitio Web de campaña de Nicolás Menare para las Elecciones Municipales 2012 de Chile
        %hr
        %h6 
          Ver proyecto: 
          = link_to("menare.cl", "http://www.menare.cl")  
      .span4.hero-unit.brand
        %h5
          = image_tag("colapso.png")
        %hr
        %h5 Radio Online para público juvenil a la cual proveemos de servidores de Radio profesionales y de alta calidad
        %hr
        %h6 
          Ver proyecto: 
          = link_to("radiocolapso.com", "http://www.radiocolapso.com") 
= render "/layouts/footer"