= render "/layouts/header"
.content
  .container-fluid
    .page-header
      %h1 
        ¡Estos somos nosotros!
        %small Nuestro equipo esta formado por jóvenes desarrolladores que aman lo que hacen.
    .row-fluid
      .span8.hero-unit
        %h1 Felipe Cabargas
        %hr
        %p Estudiante de Bachillerato en Ciencias Naturales y Exactas de la Universidad de Chile
        %p UI/UX Designer | Developer en Rails, Python y HTML5
        %h5 
          Twitter: 
          = link_to("@juanpintoduran", "https://www.twitter.com/juanpintoduran")
          | Web: 
          = link_to("http://www.cabargas.com", "http://www.cabargas.com")
        .team
          / = image_tag("felipe.png")
      .span4
    .row-fluid
      .span4
      .span8.hero-unit
        %h1 Nélson Jimenez
        %hr
        %p Estudiante de Ingeniería Civil en Computación de la Universidad Tecnológica de Chile
        %p  Backend ninja | Developer en Rails, PHP, C#
        %h5 
          Twitter: 
          = link_to("@_patojimenez", "https://www.twitter.com/_patojimenez")
          | Web: 
          = link_to("http://www.monoentrenado.com", "http://www.monoentrenado.com")
        .team
          / = image_tag("nelson.png")
    .row-fluid
      .span8.hero-unit
        %h1 Henry López
        %hr
        %p Estudiante de Enseñanza Media en el Instituto Nacional General José Miguel Carrera
        %p Developer en C, PHP+MySQL
        %h5 
          Twitter: 
          = link_to("@Marcianisto", "https://www.twitter.com/Marcianisto")
          | Web: 
          = link_to("http://www.notengopagina.com", :url => "#")
        .team
          / = image_tag("henry.png")
      .span4
= render "/layouts/footer"